/*Light Theme*/
[data-md-color-scheme="light"] {
        /*Primary color shades*/
        --md-primary-fg-color: #EEEEEE;
        --md-primary-fg-color--light: #FFFFFF;
        --md-primary-fg-color--dark: #DDDDDD;
        --md-primary-bg-color: #000000;
        --md-primary-bg-color--light: #101010;
    
        /*Accent color shades*/
        --md-accent-fg-color: #0084ff;
        --md-accent-fg-color--transparent: rgb(0, 132, 255, 0.1);
        /*--md-accent-bg-color:;*/
        /*--md-accent-bg-color--light:;*/
    
        /*Default color shades*/
        --md-default-fg-color: hsla(0, 0%, 0%, 0.87);
        --md-default-fg-color--light: hsla(0, 0%, 0%, 0.54);
        --md-default-fg-color--lighter: hsla(0, 0%, 0%, 0.32);
        --md-default-fg-color--lightest: hsla(0, 0%, 0%, 0.07);
        --md-default-bg-color: hsla(0, 0%, 100%, 1);
        --md-default-bg-color--light: hsla(0, 0%, 100%, 0.7);
        --md-default-bg-color--lighter: hsla(0, 0%, 100%, 0.3);
        --md-default-bg-color--lightest: hsla(0, 0%, 100%, 0.12);
    
        /*Code color shades*/
        --md-code-fg-color: #FFFFFF;
        --md-code-bg-color: #1E1E1E;
    
        /*Code highlighting color shades*/
        /*--md-code-hl-color:;*/
        --md-code-hl-number-color: #B5CEA8;
        --md-code-hl-special-color: #9B9B9B;
        --md-code-hl-function-color: #DCDCAA;
        --md-code-hl-constant-color: #C586C0;
        --md-code-hl-keyword-color: #569CD6;
        --md-code-hl-string-color: #CE9178;
        --md-code-hl-name-color: #9CDCFE;
        --md-code-hl-operator-color: #D4D4D4;
        --md-code-hl-punctuation-color: #D4D4D4;
        --md-code-hl-comment-color: #6A9955;
        --md-code-hl-generic-color: #FF0000;
        --md-code-hl-variable-color: #9CDCFE;
    
        /*Typeset color shades*/
        --md-typeset-color: var(--md-default-fg-color);
    
        /*Typeset `a` color shades*/
        --md-typeset-a-color: #0084FF;
    
        /*Typeset `mark` color shades*/
        /*--md-typeset-mark-color:;*/
    
        /*Typeset `del` and `ins` color shades*/
        --md-typeset-del-color: hsla(6, 90%, 60%, 0.15);
        --md-typeset-ins-color: hsla(150, 90%, 44%, 0.15);
    
        /*Typeset `kbd` color shades*/
        --md-typeset-kbd-color: hsla(0, 0%, 98%, 1);
        --md-typeset-kbd-accent-color: hsla(0, 100%, 100%, 1);
        --md-typeset-kbd-border-color: hsla(0, 0%, 72%, 1);
    
        /*Typeset `table` color shades*/
        --md-typeset-table-color: hsla(0, 0%, 0%, 0.12);
        --md-typeset-table-color--light: hsla(0, 0%, 0%, 0.035);
    
        /*Admonition color shades*/
        --md-admonition-fg-color: var(--md-default-fg-color);
        --md-admonition-bg-color: var(--md-default-bg-color);
    
        /*Warning color shades*/
        --md-warning-fg-color: hsla(0, 0%, 0%, 0.87);
        --md-warning-bg-color: hsla(60, 100%, 80%, 1);
    
        /*Footer color shades*/
        --md-footer-fg-color: hsla(0, 0%, 0%, 1);
        --md-footer-fg-color--light: hsla(0, 0%, 0%, 0.7);
        --md-footer-fg-color--lighter: hsla(0, 0%, 0%, 0.45);
        --md-footer-bg-color: hsla(0, 0%, 100%, 0.87);
        --md-footer-bg-color--dark: hsla(0, 0%, 100%, 0.32);
}

/*Dark Theme*/
[data-md-color-scheme="dark"] {
    /*Primary color shades*/
    --md-primary-fg-color: #202020;
    --md-primary-fg-color--light: #303030;
    --md-primary-fg-color--dark: #101010;
    --md-primary-bg-color: #EEEEEE;
    --md-primary-bg-color--light: #FFFFFF;

    /*Accent color shades*/
    --md-accent-fg-color: #0084ff;
    --md-accent-fg-color--transparent: rgb(0, 132, 255, 0.1);
    /*--md-accent-bg-color:;*/
    /*--md-accent-bg-color--light:;*/

    /*Default color shades*/
    --md-default-fg-color: hsla(0, 0%, 100%, 0.87);
    --md-default-fg-color--light: hsla(0, 0%, 100%, 0.54);
    --md-default-fg-color--lighter: hsla(0, 0%, 100%, 0.32);
    --md-default-fg-color--lightest: hsla(0, 0%, 100%, 0.07);
    --md-default-bg-color: hsla(0, 0%, 15%, 1);
    --md-default-bg-color--light: hsla(0, 0%, 15%, 0.7);
    --md-default-bg-color--lighter: hsla(0, 0%, 15%, 0.3);
    --md-default-bg-color--lightest: hsla(0, 0%, 15%, 0.12);

    /*Code color shades*/
    --md-code-fg-color: #FFFFFF;
    --md-code-bg-color: #1E1E1E;

    /*Code highlighting color shades*/
    /*--md-code-hl-color:;*/
    --md-code-hl-number-color: #B5CEA8;
    --md-code-hl-special-color: #9B9B9B;
    --md-code-hl-function-color: #DCDCAA;
    --md-code-hl-constant-color: #C586C0;
    --md-code-hl-keyword-color: #569CD6;
    --md-code-hl-string-color: #CE9178;
    --md-code-hl-name-color: #9CDCFE;
    --md-code-hl-operator-color: #D4D4D4;
    --md-code-hl-punctuation-color: #D4D4D4;
    --md-code-hl-comment-color: #6A9955;
    --md-code-hl-generic-color: #FF0000;
    --md-code-hl-variable-color: #9CDCFE;

    /*Typeset color shades*/
    --md-typeset-color: var(--md-default-fg-color);

    /*Typeset `a` color shades*/
    --md-typeset-a-color: #0084FF;

    /*Typeset `mark` color shades*/
    /*--md-typeset-mark-color:;*/

    /*Typeset `del` and `ins` color shades*/
    --md-typeset-del-color: hsla(6, 90%, 60%, 0.15);
    --md-typeset-ins-color: hsla(150, 90%, 44%, 0.15);

    /*Typeset `kbd` color shades*/
    --md-typeset-kbd-color: hsla(0, 0%, 98%, 1);
    --md-typeset-kbd-accent-color: hsla(0, 100%, 100%, 1);
    --md-typeset-kbd-border-color: hsla(0, 0%, 72%, 1);

    /*Typeset `table` color shades*/
    --md-typeset-table-color: hsla(0, 0%, 0%, 0.12);
    --md-typeset-table-color--light: hsla(0, 0%, 0%, 0.035);

    /*Admonition color shades*/
    --md-admonition-fg-color: var(--md-default-fg-color);
    --md-admonition-bg-color: var(--md-default-bg-color);

    /*Warning color shades*/
    --md-warning-fg-color: hsla(0, 0%, 0%, 0.87);
    --md-warning-bg-color: hsla(60, 100%, 80%, 1);

    /*Footer color shades*/
    --md-footer-fg-color: hsla(0, 0%, 100%, 1);
    --md-footer-fg-color--light: hsla(0, 0%, 100%, 0.7);
    --md-footer-fg-color--lighter: hsla(0, 0%, 100%, 0.45);
    --md-footer-bg-color: hsla(0, 0%, 0%, 0.87);
    --md-footer-bg-color--dark: hsla(0, 0%, 0%, 0.32);
}